@model List<Post>

@{ ViewData["Title"] = "Posts";
   
    }


<div class="card">

    <div class="card-body">
        <table id="tblPosts" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Photo</th>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Published</th>
                    <th>Category</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>

            <tbody>
                @foreach (Post post in Model)
                {
                    <tr>
                        <td>@post.Id</td>
                        <td>@{await ShowPhoto(post.PhotoPath);}</td>
                        <td>@post.Title</td>
                        <td>@post.CreatedTime.ToShortDateString()</td>
                        <td>@post.isPublished</td>
                        <td>@post.Category.Name</td>
                        <td class="text-center">
                            <a asp-controller="Posts" asp-action="Edit" asp-route-id="@post.Id" class=" btn btn-info btn-sm">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="#" data-delete-id="@post.Id" data-title="@post.Title" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-sm ml-1">
                                <i class="fas fa-trash"></i>
                            </a>


                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>

</div>
<form asp-controller="Posts" asp-action="Delete" method="post">

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this post with title &quot; <span id="modalPostTitle"></span> &quot; ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <input id="modalPostId" type="hidden" name="id" value="" />
                <button type="submit" class="btn btn-danger">Yes, Delete</button>
            </div>
        </div>
    </div>
</div>
</form>




@section Scripts{
    <script>
        @{ var message = Context.Request.Query["message"];}
        @if (message.Count> 0)
            {
           <text>toastr.success("Post deleted succesfully");</text>
        }
        $("#tblPosts").DataTable({
            responsive: true,
            autoWidth: false
        });

        $("#deleteModal").on("show.bs.modal", function (event) {
            var btn = $(event.relatedTarget);
            var modal = $(this);
            var id = btn.data("delete-id");
            var title = btn.data("Title");
            modal.find("#modalPostId").val(id);
            modal.find("#modalPostTitle").text(title);
        });

      
    </script>
}

@{
    async Task ShowPhoto(string path)
    {
        if (!string.IsNullOrEmpty(path))
        {
            <img src="~/uploads/@path" width="100" alt="image" />
        }
    }
}

