@model List<Comment>
@{
    ViewData["Title"] = "Comments";


    <div class="card">

        <div class="card-body">
            <table id="tblPosts" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Author</th>
                        <th>Content</th>
                        <th>Time</th>
                        <th>Published</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (Comment comment in Model)
                    {
                        <tr>
                            <td>@comment.Id</td>
                           
                            <td>@comment.Author.UserName</td>
                            <td>@comment.Content</td>
                            <td>@comment.CreatedTime</td>
                            <td>@comment.IsPublished</td>
                            <td class="text-center">
                                <a asp-controller="Comments" asp-action="Edit" asp-route-id="@comment.Id" class=" btn btn-info btn-sm">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="#" data-delete-id="@comment.Id" data-title="@comment.Id" data-toggle="modal" data-target="#deleteModal" class="btn btn-danger btn-sm ml-1">
                                    <i class="fas fa-trash"></i>
                                </a>


                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
    <form asp-controller="Comments" asp-action="Delete" method="post">

        <!-- Modal -->
        <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Confirmation</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this comment with id &quot; <span id="modalCommandTitle"></span> &quot; ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input id="modalModalId" type="hidden" name="id" value="" />
                        <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>




    @section Scripts{
        <script>
        @{ var message = Context.Request.Query["message"];}
        @if (message.Count> 0)
            {
           <text>toastr.success("Comment has been deleted succesfully");</text>
        }
        $("#tblComments").DataTable({
            responsive: true,
            autoWidth: false
        });

        $("#deleteModal").on("show.bs.modal", function (event) {
            var btn = $(event.relatedTarget);
            var modal = $(this);
            var id = btn.data("delete-id");
            var title = btn.data("Title");
            modal.find("#modalCommentId").val(id);
            modal.find("#modalCommentTitle").text(title);
        });


        </script>
    }


}
