@model Post

@{ ViewData["Title"] = Model.Title;}


<!-- Post content-->
<article>
    <!-- Post header-->
    <header class="mb-4">
        <!-- Post title-->
        <h1 class="fw-bolder mb-1">@Model.Title</h1>
        <!-- Post meta content-->
        <div class="text-muted fst-italic mb-2">Posted on @Model.CreatedTime</div>
        <!-- Post categories-->
        <a class="badge bg-secondary text-decoration-none link-light" asp-controller="Home" asp-action="Index" asp-route-slug="@Model.Category.Slug">@Model.Category.Name</a>

    </header>
    <!-- Preview image figure-->
    <figure class="mb-4"><img class="w-100 rounded" src="~/uploads/@Model.PhotoPath" alt="@Model.Title" /></figure>
    <!-- Post content-->
    <section class="mb-5">
        @Html.Raw(Model.Content)
    </section>
</article>
<!-- Comments section-->
<section class="mb-5">
    <div class="card bg-light">
        <div class="card-body">
            <!-- Comment form-->
            @if (!User.Identity.IsAuthenticated)
            {
                <div class="alert alert-warning text-center ">
                    Please <a asp-area="Identity" asp-page="/Account/Login" class="link-warning">login</a> or <a class="link-warning" asp-area="Identity" asp-page="/Account/Register">register</a> to post a comment!
                </div>
            }
            else
            {

                <form id="frmComment" asp-controller="Home" asp-action="Comment" class="row mb-4 align-items-end" method="post">
                    <input type="hidden" name="PostId" value="@Model.Id" />
                    <input type="hidden" name="Slug" value="@Model.Slug" />
                    <input type="hidden" name="ParentId" value="" />
                    <div class="col">
                        <textarea name="content" class="form-control" rows="3" placeholder="Leave a comment!" required></textarea>
                    </div>
                    <div class="col-auto ps-0">
                        <button class="btn btn-primary">Submit</button>
                    </div>
                </form>
            }

            <!-- Comment with nested comments-->
            @foreach (Comment comment in Model.Comments)
            {
                <div class="d-flex mb-4">
                    <!-- Parent comment-->
                    <div class="flex-shrink-0">
                        <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                    </div>
                    <div class="ms-3 flex-grow-1">
                        <div class="fw-bold">@Model.Author.UserName</div>
                        @comment.Content
                    <a href="#" data-reply-id="@comment.Id">Reply</a>
                        @foreach (Comment subcomment in comment.Children)
                        {
                            <!-- Child comment-->
                            <div class="d-flex mt-4">
                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                <div class="ms-3">
                                    <div class="fw-bold">@BeforeAt(subcomment.Author.UserName)</div>
                                    @subcomment.Content
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@{
    string BeforeAt( string email)
    {
        int indexOfAt = email.IndexOf("@");
        return email.Substring(0, indexOfAt);

    }



}



